
@include mediaMd{


  #main{
    text-align: center !important;
    .left{
      position: relative !important;
      display: block !important;
      width: 100%;
      background: #eee;;

    }

    .right{
    top: 0;
    left: 0;



  }

}



};
